/* 
    Created on : 09 4, 17, 12:01:36 PM
    Author     : acayroso
*/

h1{
    text-align: center;
}

h4{
    margin-left: 25px;
}

section{
    margin-left: 50px;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}